<div id="countries-languages-modal" class="modal">
  <div class="modal-bg"></div>
  <div class="modal-container">
    <div class="modal-content">
      <div class="content-header">
        <h3>Change language</h3>
        <button class="modal-exit mdi mdi-close">
        </button>
      </div>
      <div class="content-block">
        <div class="countries-languages-items">
          {% assign sorted_countries = site.countries | sort: 'country' %}
          {% for country in sorted_countries %}
            <h5>
              <a href="/{{ country.code }}/{{country.defaultlanguage}}">
                <img height="16" width="24" src="/assets/flags/{{ country.code }}.svg"/><span>{{ country.country }}</span>
              </a>
            </h5>
            {% assign pages=site.pages | where:"country", country.code | where:"ref", page.ref | sort: 'lang' %}
            {% if pages %}
            <ul>
              {% for pagefound in pages %}
              <li class="countries-languages-item">
                <a href="{{ pagefound.url }}" class="{% if  pagefound.url == page.url %}active{% endif %}">{{ pagefound.lang_name }}</a>
              </li>
              {% endfor %}
            </ul>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
