<footer class="footer">
    <div class="container">
        
        {% if site.footer_menu %}
        <div class="columns is-multiline">
            {% for item in site.data[site.footer_menu] %}
            <div class="column has-text-centered">
                <div>
                    <a href="{{ item.link | prepend: site.baseurl }}" class="link">{{ item.name }}</a>
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        <div class="content is-small has-text-centered madaster-footer-text">
            <p>Powered by <a style="color:#fff" href="https://github.com/madaster/madaster.github.io">GitHub pages</a></p>{{page.ref}}
        </div>
    </div>
</footer>
