<nav class="navbar is-primary madaster-nav" >
    <div class="container">
        <div class="navbar-brand">
            <a href="#/" class="navbar-logo active"><img src="/assets/images/logo-nobackground.svg"></a>
            <a href="{{ site.baseurl }}/" class="madaster-navbar-item navbar-item">
                {{ site.title[page.lang] }}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">                
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                    {% if item.dropdown %}
                    <div class="navbar-item has-dropdown is-hoverable madaster-dropdown">
                        <a href="{{ item.link[page.lang] | prepend: site.baseurl }}" class="madaster-navbar-item dropdown navbar-link {% if item.link[page.lang] == page.url %}is-active{% endif %}">{{ item.name[page.lang] }}{{item.link[page.lang]}}{{page.url}}</a>
                        <div class="navbar-dropdown">
                            {% for subitem in item.dropdown %}
                            <a href="{{ subitem.link[page.lang] | prepend: site.baseurl }}" class="navbar-item {% if subitem.link[page.lang] == page.url %}is-active{% endif %}">{{ subitem.name[page.lang] }}</a>
                            {% endfor %}
                        </div>
                    </div>
                    {% else %}
                    <a href="{{ item.link[page.lang] | prepend: site.baseurl }}" class="madaster-navbar-item navbar-item {% if item.link[page.lang] == page.url %}is-active{% endif %}">{{ item.name[page.lang] }}</a>
                    {% endif %}
                {% endfor %}
                {% endif %}
            </div>
            {% include languageswitch.html html=content %}
        </div>
    </div>
</nav>
