<nav class="navbar is-primary madaster-nav" >
    <div class="container">
        <div class="navbar-brand">
            {% if page.country == page.lang %}
            {% assign countrylanguage = page.country %}
            {% else %}
            {% assign countrylanguage = page.country | append: "-" | append: page.lang %}
            {% endif %}
            <a href="/{{ page.country}}/{{page.lang}}" class="navbar-logo active"><img src="/assets/images/logo-nobackground.svg"></a>
            <a href="/{{ page.country}}/{{page.lang}}" class="madaster-navbar-item navbar-item header-title">
                {{ site.title[page.lang]}}
            </a>
            <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </a>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-start">                
                {% if site.data.navigation %}
                {% for item in site.data.navigation %}
                    {% assign foundlink =  site.pages | where:"country", page.country | where:"lang",page.lang | where:"ref", item.ref | first"   %}
                    <a href="{{ foundlink.url }}" class="madaster-navbar-item navbar-item {% if item.ref == page.ref %}is-active{% endif %}">{{ foundlink.title }}</a>
                {% endfor %}
                {% endif %}
            </div>
            {% include languageswitch.html %}
        </div>
    </div>
</nav>
