    
{% assign menus = site.data.[page.menubar] %}

<aside class="menu">
{% for menu in menus %}
    <h2 class="menu-label">{{ menu.label }}</h2>
    <ul class="menu-list">
        {% for item in menu.items %}
        <li>
            <a href="{{ item.link[page.lang] | prepend: site.baseurl }}" class="{% if item.link[page.lang] == page.url %}is-active{% endif %}">{{ item.name[page.lang] }}</a>
            {% if item.items %}
            <ul>
                {% for subitem in item.items %}
                <li><a href="{{ subitem.link[page.lang] | prepend: site.baseurl }}" class="{% if subitem.link[page.lang] == page.url %}is-active{% endif %}">{{ subitem.name[page.lang] }}</a></li>
                {% endfor %}
            </ul>
            {% endif %}
        </li>
        {% endfor %}    
    </ul>
{% endfor %}
</aside>
