body {
    font-family: 'Source Sans Pro';
    font-size: 14px;
}

.navbar.is-primary{
    height: 120px;
    background: #003B60;
    background: -webkit-linear-gradient(left, #003B60, #C5DDE6);
    background: -o-linear-gradient(right, #003B60, #C5DDE6);
    background: -moz-linear-gradient(right, #003B60, #C5DDE6);
    background: linear-gradient(to right, #003B60, #C5DDE6);
}

.navbar-item.is-active {
    border-bottom: solid 2px #ffffff;
    font-weight: bold;
    background-color: inherit;
}