* {
  padding: 0;
  margin: 0;
}

*, ::before, ::after {
  background-repeat: no-repeat;
  box-sizing: border-box;
}

html {
  text-rendering: optimizeLegibility;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  margin: 0;
  height: 100%;
  overflow: auto;
}

@media (min-width: 1024px) {
  .menu {
    position: fixed;
    width: 25%;
    height: Calc(100vh - 200px);
    overflow-y: auto;
    max-width: 400px;
  }
}

.last-modified {
  font-size: 12px !important;
  margin-bottom: 16px !important;
}

.content h1 {
  font-size: 40px;
  font-weight: normal;
  line-height: 48px;
  margin: 0 0 16px 0 !important;
}

.content h2 {
  font-size: 30px;
  font-weight: normal;
  line-height: 43px;
  margin: 16px 0 8px 0 !important;
}

.content h3 {
  font-size: 20px;
  font-weight: medium;
  line-height: 28px;
  margin: 8px 0 !important;
}

.content h4 {
  font-size: 14px;
  font-weight: medium;
  line-height: 20px;
  margin: 8px 0 !important;
}

.content h5 {
  font-size: 12px;
  font-weight: medium;
  line-height: 18px;
  margin: 8px 0 !important;
}

.content p {
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

.content ol {
  counter-reset: li;
  list-style: none;
  margin-left: 0 !important;
  position: relative;
  padding-bottom: 8px;
  padding-left: 0;
}

.content ol > li {
  padding: 8px 0 8px 40px;
  border: 0;
  position: relative;
  list-style-type: none;
  margin-bottom: 0.25rem;
}

.content ol > li::before {
  background-color: #398684;
  border-radius: 50%;
  color: #fff;
  content: counter(li);
  counter-increment: li;
  font-size: 14px;
  height: 22px;
  left: 0;
  margin: 0 0 0 8px;
  padding: 1px 0 0 1px;
  position: absolute;
  text-align: center;
  width: 22px;
}


.content .footnotes ol {
    list-style-type: decimal;
}

.footnotes ol {
    list-style-position: outside;
    margin-left: 2em;
    margin-top: 1em;
}

.footnotes ol > li::before {
  background-color: initial;
  border-radius: 100%;
  color: #4a4a4a;
  content: counter(li) ".";
  counter-increment: li;
}

.column {
  padding: 1.25rem;
}

.header-img {
  height: 25px;
  width: 25px;
  padding-top: 6px;
  margin-bottom: -2px;
}

.application-wrapper {
  height: 100%;
  padding: 60px 15px 0 15px;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media (min-width: 960px) {
  .application-wrapper {
    padding: 120px 15px 0 15px;
  }
}

.registration-header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 20;
  line-height: 1.15;
  width: 100%;
  height: 120px;
  background: white;
}

.registration-header-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1410px;
  height: 120px;
  margin: 0 auto;
  background-color: white;
  border-bottom: solid 1px #d2d0d0;
}

.registration-header-logo {
  align-items: center;
  align-self: flex-end;
  display: flex;
  padding-left: 15px;
  padding-bottom: 19px;
  width: 260px;
}

.registration-header-nav {
  width: Calc(100% - 270px);
  height: 120px;
  display: flex;
  flex-direction: column;
}

.registration-header-nav-mobile {
  align-items: center;
  display: none;
  justify-content: center;
  margin-right: 10px;
}

@media (max-width: 959px) {
  .registration-header {
    height: 72px;
  }
  .registration-header  .registration-header-container {
    height: 72px;
  }
  .registration-header .registration-header-container .registration-header-logo {
    padding: 22px 0 16px 0;
  }
  .registration-header .registration-header-container .registration-header-nav {
    display: none;
    height: 72px;
  }
  .registration-header .registration-header-container .registration-header-nav-mobile {
    display: flex;
    height: 72px;
  }
  .registration-header .registration-header-container .registration-header-logo .logo-icon svg {
    width: auto;
    height: 2rem;
  }
  .registration-header .registration-header-container .registration-header-logo .logo-text svg {
    width: 8rem;
  }
}

@media (max-width: 576px) {
  .registration-header-logo {
    width: 70px;
  }
  .registration-header .registration-header-container .registration-header-logo .logo-text svg {
    display: none;
  }
}

.registration-header-nav-top {
  display: flex;
  height: 40px;
  align-items: center;
  justify-content: flex-end;
  margin: 0;
  padding: 10px 6px 0 0;
}

.registration-header-nav-bottom {
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: space-around;
}

.registration-header-nav-bottom ul {
  list-style: none;
  margin: 0;
  padding: 0 20px;
  text-align: center;
}

.registration-header-nav-bottom ul .menu-item {
  display: inline-block;
  margin: 0 20px;
}

@media (min-width: 960px) {
  .registration-header-nav-bottom ul .menu-item {
    margin: 12px 12px 0px 12px;
  }
}

.registration-header-nav-bottom ul .menu-item a {
  background-color: transparent;
  color: black;
  font-size: 16px;
  position: relative;
  text-decoration: none;
}

.registration-header-nav-bottom ul .menu-item a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: -4px;
  left: 0;
  background-color: #398684;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.registration-header-nav-bottom ul .menu-item a:hover {
  color: #398684;
}

.registration-header-nav-bottom ul .menu-item a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.registration-header-nav-bottom ul .menu-item.active a {
  color: #398684;
}

.registration-header-nav-bottom ul .menu-item.active a::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.icon {
  align-items: center;
  color: #398684;
  cursor: pointer;
  display: inline-flex;
  font-feature-settings: "liga";
  font-size: 24px;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1;
  outline: none;
  position: relative;
  text-indent: 0;
  transition: 0.3s cubic-bezier(0.25, 0.8, 0.5, 1), visibility 0s;
  vertical-align: middle;
  user-select: none;
}

.toggle-menu {
  background: transparent;
  border: none;
  display: none;
  height: 24px;
}

.toggle-menu.active {
  display: inline-flex;
}

.mobile-menu {
  background-color: white;
  border-bottom: 1px solid #d2d0d0;
  display: none;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  position: absolute;
  padding: 40px 0 0 37px;
  top: 72px;
  left: 0;
  opacity: 1;
  z-index: 1;
}

.mobile-menu .mobile-menu-list .mobile-menu-item {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 16px;
  margin-bottom: 40px;
}

.black-underline {
  color: black !important;
  letter-spacing: normal;
  margin-left: 10px;
  padding: 0;
  position: relative;
}

.black-underline:hover {
  color:#398684 !important;
}

.black-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #398684;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.black-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.registration-header .registration-header-container .registration-header-nav-mobile .mobile-menu.active {
  display: flex;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.modal-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 1;
}

.modal-container {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 2;
  width: min(700px, 90vw);
  min-height: min(700px, 90vh);
  height: auto;
  border-radius: 30px 30px 30px 0;
  background-color: #fff;
}

.modal-content {
  background-color: #fff;
  position: relative;
  z-index: 2;
  flex: 1;
  margin: 50px;
  text-align: center;
}

.modal-content:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url(/assets/images/madaster_world.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  opacity: 25%;
}

.modal-content .heading {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.modal-content .heading h3 {
  margin: 0 0 12px;
}

.modal.open {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal-exit {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
}

.content-header {
  display: flex;
  flex-direction: row;
}

.content-header h3 {
  line-height: 32px;
  margin: 0;
  text-align: center;
  width: 90%;
}

.countries-languages-items {
  margin: 30px 0 0 0;
}

.countries-languages-items h5 {
  font-size: 20px;
  margin: 0.67em 0 0 0;
}

.countries-languages-items h5 a {
  color: black;
  display: flex;
  justify-content: center;
}

.countries-languages-items h5 a span {
  margin-left: 0.4em;
}

.countries-languages-item {
  color: #444;
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 10px 10px 6px;
  width: 100%;
}

.countries-languages-item:hover {
  color: #000;
  cursor: pointer;
  background-color: #eee;
}

.countries-languages-item a {
  color: #444444;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.countries-languages-item a:hover {
  color: black;
}

.content a {
  color:#398684;
  font-weight: 700;
  position: relative;
}

.content a::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 1px;
  bottom: 0px;
  left: 0;
  background-color: #398684;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.content a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.section {
min-height: Calc(100vh - 188px);
}

@media (min-width: 960px) {
  .section {
    min-height: Calc(100vh - 234px);
  }
}

.footer {
  background-color: transparent;
  padding: 3rem 1.5rem;
}

.footer p {
  font-size: 12px;
}

.menu-list a.is-active {
  background-color: #398684;
  color: #fff;
}

.menu-list a.is-active-anchor {
  color: #398684;
  font-weight: bold;
}

.linkable-title {
  scroll-margin-top: 130px;
}

@media (max-width: 959px) {
  .linkable-title {
    scroll-margin-top: 82px;
  }
}

.link-chain {
  visibility: hidden;
  padding: 0.5rem;
  margin-left: -2rem;
}

.link-chain img {
  height: 16px;
  width: 16px;
}

.content .link-chain::after {
  content: none;
}

.linkable-title:hover .link-chain,
.link-chain:hover {
  visibility: visible;
}

.overview-link:hover {
  text-decoration: none;
}


.overview-link::after {
  content: none !important;
}

.overview-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.overview-content-wrapper {
  max-width: 920px;
}

.overview-item {
  align-items: middle;
  background-color: #fff;
  border: 1px solid #d2d0d0;
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  margin-bottom: 15px;
  min-height: 85px;
  padding: 10px;
  position: relative;
  width: 100%;
}

.overview-item:hover {
  box-shadow: 0 0 0 1px #398684,0 0 12px 0 #398684;
}

.overview-item .resource-item-left {
  padding-right: 10px;
}

.overview-item .resource-item-left img {
  height: 70px;
  width: 70px;
}

.overview-item .resource-item-right {
  padding: 0 15px;
  width: 100%;
}

.category-tiles {
  padding: 50px 0;
}

.flex-column-center {
  align-items: center;
  display: flex;
  flex-flow: column;
}

.category-tiles ul.category-tiles-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
  max-width: 920px;
  justify-content: center;
  gap: 30px;
}

.category-tiles li.category-tile-wrapper {
  background: #fff;
  border: 1px solid #d2d0d0;
  height: 270px;
  margin-left: 0;
  margin-top: 0;
  width: 270px;
}

.category-tiles li.category-tile-wrapper:hover {
  box-shadow: 0 0 0 1px #398684,0 0 12px 0 #398684;
}

.category-tiles .category-tile-body {
  align-items: center;
  display: flex;
  flex-flow: column-reverse;
  height: 270px;
  justify-content: start;
  padding: 30px 0;
}

.category-tiles a::after {
  content: none !important;
}

.category-tiles .category-tile-body img {
  height: 120px;
}

/* .category-tiles .category-tile-body h4 {
  color: #398684;
  font-size: 24px;
  font-weight: 600;
  max-width: 242px;
  text-align: center;
} */

.list-unstyled {
  list-style: none!important;
}

.search {
  background-color: #398684;
  border-radius: 8px;
  display: block;
  padding: 16px;
}

@media (max-width: 678px) {
  .search {
    display: none;
  }
}

.search-wrapper {
  align-items: center;
  background-color: #398684;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 0 auto 16px auto;
  width: 100%;
}

.search-wrapper h2 {
  color: white;
}

#search-results {
  display: flex;
  justify-content: center;
}

#search-results-wrapper {
  width: 920px;
}

#search-results-list {
  margin-left: 0;
}

#search-results-list li {
  list-style: none;
  margin-bottom: 50px;
}

#search-results-list a {
  display: inline-block;
}

#search-results-list h4 {
  color: #398684;
  font-size: 22px;
  margin: 0 0 4px 0;
}

#search-results-list p {
  margin: 4px 0 8px 0;
}

#search-results-list .tag-type {
  background-color: #f5f8fa;
  border: 1px solid #398684;
  box-sizing: border-box;
  color: #398684;
  font-size: 12px;
  font-weight: 600;
  height: 24px;
  letter-spacing: 0;
  line-height: 12px;
  margin-right: 12px;
  padding: 3px 7px;
}

#search-form-nav-desktop,
#search-form-nav-mobile {
  margin-right: 12px;
  position: relative;
}

#search-input-nav-desktop,
#search-input-nav-mobile {
  border: 1px solid #398684;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  height: 28px;
  outline: none;
  padding-left: 28px;
  width: 240px;
}

#search-button-nav-desktop,
#search-button-nav-mobile {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 2px;
}

.globe-icon {
  display: flex;
}

.search-form {
  position: relative;
}

.search-bar {
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  height: 40px;
  outline: none;
  padding: 8px 8px 8px 40px;
  width: 400px;
}

.search-button-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  left: 4px;
  top: 6px;
}

#search-results-summary,
#search-results-summary-one {
  display: none;
  margin: 8px 0 24px 0;
}

#search-results-summary.active,
#search-results-summary-one.active {
  display: block;
}

.next-button {
  background-color: #398684;
  border-radius: 6px;
  color: #fff !important;
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  margin-top: 32px;
  padding: 10px 19px;
  transition: box-shadow 0.4s ease;
  width: fit-content;
}

.next-button:hover {
  box-shadow: 0 4px 8px 0 rgb(57 134 132 / 40%);
}

.next-button::after {
  content: none !important;
}

mjx-container[jax="SVG"] > svg {
  width: 100%;
}