---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;    
    background: linear-gradient(to right, #003b60, #63A8C1);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #003b60;
}

.navbar-madaster {
    height: 120px;
    background: #003b60;
    background: -webkit-linear-gradient(left, #003b60, #63A8C1);
    background: -o-linear-gradient(right, #003b60, #63A8C1);
    background: -moz-linear-gradient(right, #003b60, #63A8C1);
    background: linear-gradient(to right, #003b60, #63A8C1);
}
.navbar {
    border-radius: 0;
    margin-bottom: 0;
}
.navbar-fixed-top {
    border: 20px solid white;
    border-bottom-width: 0;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 768px)
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px)
.navbar {
    border-radius: 4px;
}
.navbar {
    position: relative;
    min-height: 100px;
    margin-bottom: 21px;
    border: 1px solid transparent;
}
