---
---

@import "{{ site.theme }}";

.page-header {
    color: #fff;
    text-align: center;    
    background: linear-gradient(to right, #003b60, #63A8C1);
}

.main-content h1, .main-content h2, .main-content h3, .main-content h4, .main-content h5, .main-content h6 {
    color: #003b60;
}

.navbar-fixed-top {
  border: 20px solid white;
  border-bottom-width: 0;
}
@media (max-width: 768px) {
  .navbar-fixed-top {
    border-width: 0;
  }
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-madaster {
  height: 120px;
  background: #003b60;
  background: -webkit-linear-gradient(left, #003b60, #63A8C1);
  background: -o-linear-gradient(right, #003b60, #63A8C1);
  background: -moz-linear-gradient(right, #003b60, #63A8C1);
  background: linear-gradient(to right, #003b60, #63A8C1);
}
@media (max-width: 768px) {
  .navbar-madaster {
    height: 100px;
  }
}
.navbar-madaster .navbar-header {
  margin-left: -15px;
  padding-right: 75px;
}
@media (max-width: 768px) {
  .navbar-madaster .navbar-header {
    padding-right: 0px;
  }
}
.navbar-madaster .navbar-collapse {
  background-color: #003a60;
}
@media (min-width: 768px) {
  .navbar-madaster .navbar-collapse {
    background-color: transparent;
  }
}
.navbar-madaster .navbar-logo {
  height: 100px;
  width: 100px;
  padding: 25px;
  display: block;
}
.navbar-madaster .navbar-logo img {
  height: 50px;
  width: 50px;
}
.navbar-madaster .navbar-toggle {
  border-color: white;
}
.navbar-madaster .navbar-toggle:hover,
.navbar-madaster .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-madaster .navbar-toggle .icon-bar {
  background-color: white;
}
@media (max-width: 768px) {
  .navbar-madaster .navbar-nav {
    margin: 0px;
  }
}
.nav > li > a,
.nav > li > .wizard-container > a {
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  height: 66.5px;
  padding: 0;
  padding-top: 38.5px;
  margin-right: 30px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: normal;
  line-height: 23px;
  transition: border-bottom 1s;
  border-bottom: solid 2px transparent;
  letter-spacing: 1px;
}
.nav > li > a:hover,
.nav > li > .wizard-container > a:hover {
  border-bottom: solid 2px #ffffff;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  border-color: white;
}
.nav > li.active > a,
.nav > li.active > .wizard-container > a {
  border-bottom: solid 2px #ffffff;
  font-weight: bold;
}
.navbar-right > li > a {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.navbar-right > li > a:hover {
  border-bottom: none;
}
.navbar-right .open > a,
.navbar-right .open > a:focus {
  border-bottom: none;
}
.profile-menu {
  height: 100px;
  padding-top: 43px;
}
.profile-menu .ma-chevron-down {
  margin-left: 20px;
}
.profile-menu .ma-settings {
  margin-left: 20px;
  color: #000;
  position: relative;
  top: 7px;
  border-radius: 50%;
  background-color: white;
  font-size: 30px;
  height: 28px;
  width: 30px;
}
.sub-navigation-bar {
  height: 63px;
  background-color: #ffffff;
}
body .body-container {
  margin-top: -20px;
  position: relative;
  z-index: 0;
  background-color: white;
}
body .body-container > div:first-of-type {
  background-color: white;
  margin-top: 0px;
}
@media (min-width: 768px) {
  body.home {
    padding-top: 20px;
  }
}
@media (max-width: 768px) {
  body.home {
    padding-top: 0;
  }
}
body.home .navbar-logo {
  background-color: #003a60;
}
body.home .navbar-madaster {
  background-image: url('/images/header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  transition: height 0.2s;
}
@media (min-width: 768px) {
  body.home .navbar-madaster {
    height: 300px;
  }
}
body.home .bodycontainer {
  margin-top: -40px;
  z-index: 1032;
  position: relative;
  background-color: white;
  padding-top: 40px;
  transition: 0.15s margin ease-out;
}
