body {
    font-family: 'Source Sans Pro', sans-serif;
}

.navbar-brand {
    margin-left: 0px !important;
    margin-right: 75px;
}

.madaster-nav{
    height: 120px;
    background: #003B60;
    background: -webkit-linear-gradient(left, #003B60, #C5DDE6);
    background: -o-linear-gradient(right, #003B60, #C5DDE6);
    background: -moz-linear-gradient(right, #003B60, #C5DDE6);
    background: linear-gradient(to right, #003B60, #C5DDE6);
    border: 20px solid white;
    border-bottom-width: 0;
}

.navbar-logo {
    height: 50px;
    width: 50px;
    margin-top: 25px;
    margin-right: 25px;
}

.madaster-navbar-item {
    height: 40px;
    margin-top: 30px;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 18px;
    background-color: transparent !important;
}

.madaster-navbar-item.is-active {
    background-color: transparent !important;
    border-bottom: solid 2px #ffffff;
    font-weight: bold;
    margin-top: 31px;
}

.madaster-navbar-item:hover, .madaster-navbar-item:focus, .madaster-dropdown:hover,
.madaster-dropdown:focus, .madaster-dropdown.has-dropdown {
    background-color: transparent !important;
}

.madaster-language-toggle {
    float: right;
    color: white;
}

.madaster-language-toggle > a {
    color: white;
}

.footer {
    background: #003B60;
    background: -webkit-linear-gradient(left, #003B60, #C5DDE6);
    background: -o-linear-gradient(right, #003B60, #C5DDE6);
    background: -moz-linear-gradient(right, #003B60, #C5DDE6);
    background: linear-gradient(to right, #003B60, #C5DDE6);
    border: 20px solid white;
    border-top-width: 0;
}