<!DOCTYPE html>
<html lang="en">
  <body>
    <script>
      fetch('https://extreme-ip-lookup.com/json/')
      .then( res => res.json())
      .then(response => {
        var country="de";
        var language="nl";
        var countries= JSON.parse('{{ site.countries | jsonify }}');
        console.log("Country: ", response.countryCode);
        if (countries.some(t=> t.code==response.countryCode.toLowerCase())) {
              country= response.countryCode.toLowerCase();
        }
     
        var lang = navigator.language || navigator.userLanguage;
        if (lang)
        {
          var langs= lang.split('-');
          if (countries.some(t=> t.code==country && t.languages.split(',').some(x=> x==langs[0]))) {
            language=langs[0];
          } else {
            language = countries.some(t=> t.code==country).defaultlanguage;
          }
        }
        window.location = "/"+country+"/"+language;
      })
      .catch((data, status) => {
        window.location = "/nl/en";
    });
    </script>
  </body>
  </body>
</html>
